.athlonHeader {
	background: #607d8b;
	color: white;
	text-align: center;
	padding: 6rem 0;
}

h2.athlonName {
	text-transform: uppercase;
	font-size: 2em;
	font-weight: bold;
	opacity: 0.3;

	display: flex;
	justify-content: center;
}

h2.athlonName > span {
	flex: 0 1 3rem;
	text-align: center;
}