
dist
.solid
.output
.vercel
.vinxi
.netlify
netlify

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

*firebase-adminsdk*.json
*.log
db-dump
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
