rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /contests/{document=**} {
      allow read;
    }
    match /games/{document=**} {
      allow read;
    }
    match /gameRules/{document=**} {
      allow read;
    }
  }
}