.header {
  background: #EEE;
}

.ruleIcon {
  flex: 0 0 30vmin;
  height: 30vmin;
}

.ruleIcon svg {
  width: 100%;
  height: 100%;
}

.ruleIcon svg path, .ruleIcon svg polygon, .ruleIcon svg polyline {
  fill: #555;
}

.gameDescription a {
  color: #2196f3;
}