.rule {
  word-break: break-all;
  padding-bottom: 1rem;
}

.rule a {
	color: #2196f3;
}

.rule pre {
  background: #EEE;
  margin: 0;
  padding: 0.5rem;
  line-height: 1em;
  border-radius: 0.3rem;
  width: 100%;
  box-sizing: border-box;
}